
DATABASE_URL=mysql://root:123456@127.0.0.1:3306/tpl_symfony

API_URL=http://symfony.tpl
API_PHP_URL=http://symfony.tpl/php
WEB_URL=http://symfony.tpl

APP_SECRET='APP_SECRET'
AES_ENCODER_KEY='AES_ENCODER_KEY'
JWT_PROFILES_AUTH_KEY_PRIVATE='JWT_PROFILES_AUTH_KEY_PRIVATE'
RSA_DIRECTORY='var/rsa'
RSA_HOST_DIRECTORY='var/rsa/symfony.tpl'
RSA_CA_DIRECTORY='var/rsa/root'
CACHE_DIRECTORY='var/cache'
