
###> symfony/framework-bundle ###
/.env.*
!/.env.*.example
/public/bundles/
/var/
/vendor/
/.idea/*
!/.idea/codeStyles/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

symfony.lock
###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

/public/node_modules/*