
.img-bordered {
    border: 3px solid #adb5bd;
    padding: 3px
}

.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px
}

.img-rounded {
    border-radius: .25rem
}

.img-circle {
    border-radius: 50%
}

.img-size-32, .img-size-50, .img-size-64 {
    height: auto
}

.img-size-64 {
    width: 64px
}

.img-size-50 {
    width: 50px
}

.img-size-32 {
    width: 32px
}

.dropdown-item-title {
    font-size: 1rem;
    margin: 0
}


.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start
}

.media-body {
    -ms-flex: 1;
    flex: 1
}

.text-sm {
    font-size: .875rem !important;
}

p:last-child {

}

.message-menu-box .dropdown-item {
    padding: 0.25rem 1rem;
}

.message-menu-box .dropdown-item p {
    margin-bottom: 0;
    line-height: 20px;
}