
<a href="#person/update" class="btn btn-primary pull-right">Update</a>

<h2>Profile</h2>

<table class="table table-inverse">
    <tr>
        <th scope="row">Name</th>
        <td>{{ entity.full_name }}</td>
    </tr>
    <tr>
        <th scope="row">birthday</th>
        <td>{{ entity.birthday }}</td>
    </tr>
    <tr>
        <th scope="row">code</th>
        <td>{{ entity.code }}</td>
    </tr>
    <tr>
        <th scope="row">email</th>
        <td>{{ entity.email }}</td>
    </tr>
</table>