<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#bskit">BS3 UIKit</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li v-if=" ! isLogin"><a href="#user/auth">Auth</a></li>
            <li v-if="isLogin" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li v-if="isLogin"><a href="#person/view">Person</a></li>
                    <li v-if="isLogin"><a href="#user/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>