{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Dashboard') }}

    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                {% for item in links %}
                    <a href="{{ item.url }}" class="list-group-item">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a href="{{ path('web_article_post_index') }}">Show all</a>
                    </div>
                    <div class="float-left">
                        Posts
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    {% include '@Article/widgets/postWidget.html.twig' %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}