<h2>Buttons</h2>

<div class="row">
    <div class="col-lg-7">

        <p class="bs-component">
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-primary">Primary</a>
            <a href="#" class="btn btn-success">Success</a>
            <a href="#" class="btn btn-info">Info</a>
            <a href="#" class="btn btn-warning">Warning</a>
            <a href="#" class="btn btn-danger">Danger</a>
            <a href="#" class="btn btn-link">Link</a>
        </p>

        <p class="bs-component">
            <a href="#" class="btn btn-default disabled">Default</a>
            <a href="#" class="btn btn-primary disabled">Primary</a>
            <a href="#" class="btn btn-success disabled">Success</a>
            <a href="#" class="btn btn-info disabled">Info</a>
            <a href="#" class="btn btn-warning disabled">Warning</a>
            <a href="#" class="btn btn-danger disabled">Danger</a>
            <a href="#" class="btn btn-link disabled">Link</a>
        </p>


        <div style="margin-bottom: 15px;">
            <div class="btn-toolbar bs-component" style="margin: 0;">
                <div class="btn-group">
                    <a href="#" class="btn btn-default">Default</a>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-primary">Primary</a>
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-success">Success</a>
                    <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-info">Info</a>
                    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-warning">Warning</a>
                    <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <p class="bs-component">
            <a href="#" class="btn btn-primary btn-lg">Large button</a>
            <a href="#" class="btn btn-primary">Default button</a>
            <a href="#" class="btn btn-primary btn-sm">Small button</a>
            <a href="#" class="btn btn-primary btn-xs">Mini button</a>
        </p>

    </div>
    <div class="col-lg-5">

        <p class="bs-component">
            <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
        </p>


        <div class="bs-component" style="margin-bottom: 15px;">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default">Left</a>
                <a href="#" class="btn btn-default">Middle</a>
                <a href="#" class="btn btn-default">Right</a>
            </div>
        </div>

        <div class="bs-component" style="margin-bottom: 15px;">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="#" class="btn btn-default">1</a>
                    <a href="#" class="btn btn-default">2</a>
                    <a href="#" class="btn btn-default">3</a>
                    <a href="#" class="btn btn-default">4</a>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-default">5</a>
                    <a href="#" class="btn btn-default">6</a>
                    <a href="#" class="btn btn-default">7</a>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-default">8</a>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-component">
            <div class="btn-group-vertical">
                <a href="#" class="btn btn-default">Button</a>
                <a href="#" class="btn btn-default">Button</a>
                <a href="#" class="btn btn-default">Button</a>
                <a href="#" class="btn btn-default">Button</a>
            </div>
        </div>

    </div>
</div>






<div class="row">
    <div class="col-lg-12">
        <p>
            <button type="button" class="btn btn-lg btn-default">Default</button>
            <button type="button" class="btn btn-lg btn-primary">Primary</button>
            <button type="button" class="btn btn-lg btn-success">Success</button>
            <button type="button" class="btn btn-lg btn-info">Info</button>
            <button type="button" class="btn btn-lg btn-warning">Warning</button>
            <button type="button" class="btn btn-lg btn-danger">Danger</button>
            <button type="button" class="btn btn-lg btn-link">Link</button>
        </p>
        <p>
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
        </p>
        <p>
            <button type="button" class="btn btn-sm btn-default">Default</button>
            <button type="button" class="btn btn-sm btn-primary">Primary</button>
            <button type="button" class="btn btn-sm btn-success">Success</button>
            <button type="button" class="btn btn-sm btn-info">Info</button>
            <button type="button" class="btn btn-sm btn-warning">Warning</button>
            <button type="button" class="btn btn-sm btn-danger">Danger</button>
            <button type="button" class="btn btn-sm btn-link">Link</button>
        </p>
        <p>
            <button type="button" class="btn btn-xs btn-default">Default</button>
            <button type="button" class="btn btn-xs btn-primary">Primary</button>
            <button type="button" class="btn btn-xs btn-success">Success</button>
            <button type="button" class="btn btn-xs btn-info">Info</button>
            <button type="button" class="btn btn-xs btn-warning">Warning</button>
            <button type="button" class="btn btn-xs btn-danger">Danger</button>
            <button type="button" class="btn btn-xs btn-link">Link</button>
        </p>

    </div>
</div>
