
<!--<link  href="http://legalcasino.scdev.cc/assets/style/style.css" rel="stylesheet">-->

<h2>notification</h2>

<button class="btn btn-primary" onclick="container.notify.info('info type')">info</button>
<button class="btn btn-warning" onclick="container.notify.warning('warning type')">warning</button>
<button class="btn btn-success" onclick="container.notify.success('success type')">success</button>
<button class="btn btn-danger" onclick="container.notify.error('error type')">error</button>

<!--<div class="notification-container">
    <div class="notification notification&#45;&#45;success">
        Message has been sent
    </div>

    <div class="notification notification&#45;&#45;comment">
        mrPredator mentioned you <a href="#">in a comment</a>

        <button class="notification-close">close</button>
    </div>

    <div class="notification notification&#45;&#45;warning">
        Your vote is already taken
    </div>

    <div class="notification notification&#45;&#45;danger">
        Only registered users can vote
    </div>

    <div class="notification notification&#45;&#45;danger">
        This website collects information about the use of this site, in particular, places cookies in the browsers of visitors. <a href="#">Read more</a>

        <button class="notification-close">close</button>
    </div>

    <div class="notification notification&#45;&#45;error">
        Users may have difficulty logging in. We're working on it.

        <button class="notification-close">close</button>
    </div>
</div>-->
